
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href={% static 'bootstrap.min.css' %}>
{#    <link href="../static/bootstrap-datepicker-master/bootstrap-datepicker-master/dist/css/bootstrap-datepicker.css" rel="stylesheet" media="screen">#}
    <script src={% static 'jquery-3.4.1.min.js' %}></script>
    <script src={% static 'react.production.min.js' %}></script>
{#    <script src="../static/bootstrap-datepicker-master/bootstrap-datepicker-master/js/locales/bootstrap-datepicker.zh-CN.js"></script>#}
{#    <script src="../static/bootstrap-datepicker-master/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js"></script>#}
 
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
          <style>
        body {
            {#padding-top: 50px;#}
            padding-bottom: 20px;
        }
        .body-content {
            margin-top:20px;
            padding-left: 15px;
            padding-right: 15px;
        }
              .navbar-brand {
                  color: #9e687a;
              }
      </style>
</head>

<body >

     <div class="navbar navbar-default navbar-fixed-top" style="position:fixed;top:0; background-color: #f7f7f7; ">
       <div class="container">
         <div class="navbar-header">
           <div><a href="#materials_table" class="navbar-brand">物料表</a></div>
           <div><a href="#BOM_table" class="navbar-brand">BOM表</a></div>
           <div><a href="#tiaopei_table" class="navbar-brand">调配构成表</a></div>
           <div><a href="#storage_table" class="navbar-brand">库存表</a></div>
           <div><a href="#co_table" class="navbar-brand">数据合成表</a></div>
           <div><a href="#needs_table" class="navbar-brand">需求列表</a></div>
           <div><a href="#result_table" class="navbar-brand">计算台</a></div>
         </div>
       </div>
     </div>

    <div  class="container body-content" id="tables"   >
            <h2  id="materials_table">物料表</h2>
            <table class="table table-hover .table-condensed">
                <thead>
                    <tr>
                        <th>物料号</th>
                        <th>名称</th>
                        <th>单位</th>
                        <th>调配方式</th>
                        <th>损耗率</th>
                        <th>作业提前期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="(item,index) in materials">
                        <td>
                            {% verbatim %} {{ item.m[0] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[1] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[2] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[3] }}{% endverbatim %}
{#                            		<select class="form-control " v-model="item.m[3]" @change="handleChange($event,index)">#}
{#                                        <option >生产</option>#}
{#                                        <option>采购</option>#}
{#                                    </select>#}
                        </td>
                        <td>
                            <input type="text" placeholder="请输入" v-model="item.m[4]"  value="" />
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[5] }}{% endverbatim %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 id="BOM_table">一副眼镜的BOM表</h2>
            <p>产品零件号：#20000-眼镜 层次0</p>
            <table class="table table-hover .table-condensed">
                <thead>
                    <tr>
                        <th>零件号</th>
                        <th>描述</th>
                        <th>装配数量</th>
                        <th>单位</th>
                        <th>层次</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="(item,index) in bom_detail">
                        <td>
                            {% verbatim %} {{ item.m[0] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[1] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[2] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[3] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[4] }}{% endverbatim %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 id="tiaopei_table">调配构成表</h2>
            <table class="table table-hover .table-condensed">
                <thead>
                    <tr>
                        <th>调配基准编号</th>
                        <th>调配区代码</th>
                        <th>父物料号</th>
                        <th>父物料名称</th>
                        <th>子物料号</th>
                        <th>子物料名称</th>
                        <th>构成数</th>
                        <th>配料提前期</th>
                        <th>供应商提前期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="(item,index) in tiaopei_detail">
                        <td>
                            000001
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[0] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[1] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[2] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[3] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[4] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[5] }}{% endverbatim %}
                        </td>
                        <td v-if="index>0" >
                            <input type="text" placeholder="请输入" v-model="item.m[6]"   value="" />
                        </td>
                        <td v-else>
                            0
                        </td>
                        <td v-if="index>0" >
                            <input type="text" placeholder="请输入" v-model="item.m[7]" :min="0" :max="100" value="" />
                        </td>
                        <td v-else>
                            0
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 id="storage_table">库存表</h2>
            <table class="table table-hover .table-condensed">
                <thead>
                    <tr>
                        <th>物料号</th>
                        <th>物料名称</th>
                        <th>工序库存</th>
                        <th>资材库存</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="(item,index) in storage_detail">
                        <td>
                            {% verbatim %} {{ item.m[0] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[1] }}{% endverbatim %}
                        </td>
                        <td>
                            <input type="text" placeholder="请输入" v-model="item.m[2]"   value="" />
                        </td>
                        <td>
                            <input type="text" placeholder="请输入" v-model="item.m[3]"  value="" />
                        </td>
                    </tr>
                </tbody>
            </table>


            <h2 id="co_table">数据合成表</h2>
            <table class="table table-hover .table-condensed">
                <thead>
                    <tr>
                        <th>父物料名称</th>
                        <th>子物料名称</th>
                        <th>调配方式</th>
                        <th>构成数</th>
                        <th>损耗率</th>
                        <th>工序库存</th>
                        <th>资材库存</th>
                        <th>作业提前期</th>
                        <th>配料提前期</th>
                        <th>供应商提前期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="(item,index) in calc_co()">
                        <td>
                            {% verbatim %} {{ item.m[1] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[3] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[4] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[5] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[6] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[7] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[8] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[9] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[10] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[11] }}{% endverbatim %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 id="needs_table" >需求列表</h2>
            <table class="table table-hover .table-condensed">
                <thead>
                    <tr>
                        <th>需求编号</th>
                        <th>产品名称</th>
                        <th>产品数量</th>
                        <th>完成年</th>
                        <th>完成月</th>
                        <th>完成日</th>
                        <th>计算</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="(item,index) in needs_detail">
                        <td>
                            {% verbatim %} {{ index }}{% endverbatim %}
                        </td>
                        <td>
{#                            {% verbatim %} {{ item.m[0] }}{% endverbatim %}#}
                            		<select class="form-control " v-model="item.m[0]">
                                        <option >眼镜</option>
                                        <option>镜框</option>
                                    </select>
                        </td>
                        <td>
                            <input type="text" placeholder="请输入" v-model="item.m[1]"   value="" />

{#                            {% verbatim %} {{ item.m[1] }}{% endverbatim %}#}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[2] }}{% endverbatim %}
{#                            年#}
                        </td>
                        <td>
                             <select class="form-control " v-model="item.m[3]">
                                        <option >5</option>
                                        <option >6</option>
                                        <option >7</option>
                                        <option >8</option>
                                        <option >9</option>
                                        <option >10</option>
                                        <option >11</option>
                                        <option >12</option>
                              </select>
{#                            {% verbatim %} {{ item.m[3] }}{% endverbatim %} 月#}
                        </td>
                        <td>
{#                            {% verbatim %} {{ item.m[4] }}{% endverbatim %} 日#}

                             <select class="form-control " v-model="item.m[4]">

                                        <option  v-for="(day,index) in date[item.m[3]-5].m">{% verbatim %} {{ day }}{% endverbatim %}</option>
                              </select>

                        </td>
                        <td>
{#                             <button type="button" class="btn btn-success" @click="cal($event,index)">计算单条</button>#}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" class="btn btn-primary" @click="addneed($event)">加一条</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" @click="clearneed($event)">清空</button>
                        </td>
                        <td>
                             <button type="button" class="btn btn-success" @click="cal($event,-1)">ERP计算</button>
                        </td>

                    </tr>
                </tbody>
            </table>


            <h2 id="result_table">MRP计算结果表</h2>
            <table class="table table-hover .table-condensed">
                <thead>
                    <tr>
                        <th>所属需求编号</th>
                        <th>调配方式</th>
                        <th>物料号</th>
                        <th>物料名称</th>
                        <th>需求数量</th>
                        <th>日程下达月</th>
                        <th>日程下达日</th>
                        <th>日程完成月</th>
                        <th>日程完成日</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  v-for="(item,index) in result_detail">
                        <td>
                            {% verbatim %} {{ item.m[6] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[0] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[1] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[2] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[3] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[7] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[4] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[8] }}{% endverbatim %}
                        </td>
                        <td>
                            {% verbatim %} {{ item.m[5] }}{% endverbatim %}
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>




    <script src="../static/vue1.js"></script>
    <script>
            mat = new Vue({
              el: '#tables',
              data() {
                  return {
                      date: [
                          {m: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31] }, //5 0
                          {m: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30] },
                          {m: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31] },
                          {m: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31] },
                          {m: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30] },
                          {m: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31] },
                          {m: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30] },
                          {m: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31] },
                      ],
                      wuliao_no : [20000,20109,20100,20110,20120,20130,20300],
                      materials : [
                        { m: [20000,"眼镜","副","生产",0,1] },
                        { m: [20109,"螺钉","个","采购",0.1,0] },
                        { m: [20100,"镜框","副","生产",0,2] },
                        { m: [20110,"镜架","个","采购",0,0] },
                        { m: [20120,"镜腿","个","采购",0,0] },
                        { m: [20130,"鼻托","个","采购",0,0] },
                        { m: [20300,"镜片","片","采购",0,0] },
                       ],
                      bom_detail : [
                        { m: [20100,"镜框",1,"副",1] },
                        { m: [20110,"镜架",1,"个",2] },
                        { m: [20120,"镜腿",2,"个",2] },
                        { m: [20130,"鼻托",2,"个",2] },
                        { m: [20109,"螺钉",4,"个",2] },
                        { m: [20300,"镜片",2,"片",1] },
                        { m: [20109,"螺钉",2,"个",1] },
                       ],
                      tiaopei_detail : [
                        { m: ["L001",20000,"眼镜",20100,"镜框",1,0,0] },
                        { m: ["L001",20000,"眼镜",20300,"镜片",2,1,20] },
                        { m: ["L001",20000,"眼镜",20109,"螺钉",2,1,10] },
                        { m: ["L003",20100,"镜框",20110,"镜架",1,1,20] },
                        { m: ["L003",20100,"镜框",20120,"镜腿",2,1,10] },
                        { m: ["L003",20100,"镜框",20130,"鼻托",2,1,18] },
                        { m: ["L003",20100,"镜框",20109,"螺钉",4,1,10] },
                       ],
                      storage_detail :[
                        { m: [20000,"眼镜",0,0] },
                        { m: [20109,"螺钉",10,50] },
                        { m: [20100,"镜框",0,0] },
                        { m: [20110,"镜架",0,0] },
                        { m: [20120,"镜腿",10,20] },
                        { m: [20130,"鼻托",0,0] },
                        { m: [20300,"镜片",0,0] },
                      ],
                      storage_detail_copy: [
                      ],

                      // [ 0父编号，1父物料名， 2子编号，3子物料名，4生产/采购，5构成数，6损耗率，78库存，
                      // 9生产提前期，10 11采购提前期，12下达日期，13完成日期,14 需求量]
                      needs_detail: [
                        { m: ["眼镜", 100, 2020, 5, 30] },
                        { m: ["镜框", 100, 2020, 5, 30] },
                      ],
                      result_detail: [
                        {#{ m: ["0生产", 1物料号， 2物料名， 3需要量， 4下达日， 5完成日， 6所属编号， 7下达月， 8完成月] },#}
                      ],
                  }
                },
                methods: {
                  {#监听生产、采购改变#}
                  handleChange(val,i) {
                      if (this.materials[i].m[3] == "采购")
                        this.materials[i].m[5] = 0;
                  },
                  cal(val,i) {
                      //获取页面所有的input
                        var els = document.getElementsByTagName("input");
                         for(var inp = 0, j = els.length; inp < j; inp++) {
                                if(els[inp].value==""||els[inp].value==undefined||els[inp].value==null||els[inp].value==null){
                                        alert('不能输入空值');
                                        return false;
                                }	else if (isNaN(els[inp].value)){
                                        alert('不能输入特殊符号');
                                        return false;
                                }	else if (els[inp].value<0){
                                        alert('不能输入负数');
                                        return false;
                                }
                        }
                        console.log(this.calc_co());
                          console.log(this.re_copy());
                          console.log(this.result_list(i));
                  },
                  addneed(val){
                      this.needs_detail.push(
                          {m:["眼镜",100,2020,5,30]}
                      );
                  },
                  clearneed(val){
                      this.needs_detail = [];
                  }
                },
                computed: {
                  calcdate(){
                      return function (month1,day1,subday) {
                          var month2 = month1;
                          var day2 = day1 - subday;
                          while (day2<1){
                              var del = 1 - day2;
                              month2 = month2 - 1;
                              if (month2==4 ||month2==6 ||month2==9 ||month2==11 ){
                                  day2 = 30 - del+1;
                              }
                              else if (month2==2){
                                  day2 = 29 - del+1;
                              }
                              else  {
                                  day2 = 31 - del+1;
                              }
                              if (month2<1)
                                  return false;
                          }
                          return [month2, day2];
                      }
                  },
                   calc_co(){
                       return function(){
                           var dicta = [
                                { m: [0,"",        20000,"眼镜",  "生产",    0,  this.materials[0].m[4],   this.storage_detail[0].m[2],   this.storage_detail[0].m[3],  this.materials[0].m[5],  0,  0, 0, 0, 0] },
                                { m: [20000,"眼镜",20100,"镜框",  "生产",    1,  this.materials[2].m[4],   this.storage_detail[2].m[2],   this.storage_detail[2].m[3],  this.materials[2].m[5], this.tiaopei_detail[0].m[6],this.tiaopei_detail[0].m[7], 0, 0, 0,0,0] },
                                { m: [20000,"眼镜",20300,"镜片",  "采购",    2,  this.materials[6].m[4],   this.storage_detail[6].m[2],   this.storage_detail[6].m[3],  this.materials[6].m[5],this.tiaopei_detail[1].m[6],this.tiaopei_detail[1].m[7], 0, 0, 0,0,0] },
                                { m: [20000,"眼镜",20109,"螺钉",  "采购",    2,  this.materials[1].m[4],   this.storage_detail[1].m[2],   this.storage_detail[1].m[3], this.materials[1].m[5],this.tiaopei_detail[2].m[6],this.tiaopei_detail[2].m[7], 0, 0, 0,0,0] },
                                { m: [20100,"镜框",20110,"镜架",  "采购",    1,  this.materials[3].m[4],   this.storage_detail[3].m[2],   this.storage_detail[3].m[3],  this.materials[3].m[5],this.tiaopei_detail[3].m[6],this.tiaopei_detail[3].m[7], 0, 0, 0,0,0] },
                                { m: [20100,"镜框",20120,"镜腿",  "采购",    2,  this.materials[4].m[4],   this.storage_detail[4].m[2],   this.storage_detail[4].m[3], this.materials[4].m[5],this.tiaopei_detail[4].m[6],this.tiaopei_detail[4].m[7], 0, 0, 0,0,0] },
                                { m: [20100,"镜框",20130,"鼻托",  "采购",    2,  this.materials[5].m[4],   this.storage_detail[5].m[2],   this.storage_detail[5].m[3],  this.materials[5].m[5],this.tiaopei_detail[5].m[6],this.tiaopei_detail[5].m[7], 0, 0, 0,0,0] },
                                { m: [20100,"镜框",20109,"螺钉",  "采购",    4,  this.materials[1].m[4],   0,                             0,                            this.materials[1].m[5],this.tiaopei_detail[6].m[6],this.tiaopei_detail[6].m[7], 0, 0, 0,0,0] },
                               ];
                           {#console.log(dicta);#}
                             return dicta;
                       }
                    },

                    re_copy(){
                        return function () {
                            this.storage_detail_copy =[];
                            for(var i=0;i<this.storage_detail.length;i++){
                                this.storage_detail_copy.push(
                                    { m : [this.storage_detail[i].m[0],
                                            this.storage_detail[i].m[1],
                                            parseInt(this.storage_detail[i].m[2]),
                                            parseInt(this.storage_detail[i].m[3])
                                        ]}
                                    );
                            }
                          console.log(this.storage_detail.length);
                          return "done recopy";
                        }
                    },
                    // 计算
                    result_list() {
                        return function(index){
                            var request_num = this.needs_detail.length;
                            var start1 = index;
                            var end1 = index;
                            if (index<0){
                                start1 = 0;
                                end1 = request_num-1;
                            }

                            this.result_detail = [];

                            for (var index1 = start1; index1<=end1; index1++)
                            {

                            // 找到父物料名称=产品 ["眼镜", 100, 2020, 5, 30]
                            for (var iter1 = 0; iter1 < this.calc_co().length; iter1++) {
                                var m_value = this.calc_co()[iter1].m; //[0,"", 20000,"眼镜",  "生产",    0,  0.00,   0,  0,  1,  0,  0]
                                if (m_value[3]==this.needs_detail[index1].m[0])
                                    break;
                                {#return iter;#}
                            }
                            console.log( iter1);

                            var datelist = this.calcdate(this.needs_detail[index1].m[3],this.needs_detail[index1].m[4],this.calc_co()[iter1].m[9]);
                            if (datelist == false){
                                alert("工期超出范围！");
                                return 0;
                            }
                            console.log(datelist);
                            this.result_detail.push({ m: [
                                                            this.calc_co()[iter1].m[4],
                                                            this.calc_co()[iter1].m[2],
                                                            this.calc_co()[iter1].m[3],
                                                            this.needs_detail[index1].m[1],
                                                       //     this.needs_detail[index1].m[4]- this.calc_co()[iter1].m[9], // 下单day
                                                            datelist[1],
                                                            this.needs_detail[index1].m[4], //完成day
                                                            index1,
                                                            datelist[0], // 下单月
                                                            this.needs_detail[index1].m[3]

                                ] });


                            var co = this.calc_co();
                            {#co[iter1].m[12] = this.needs_detail[index1].m[4]- this.calc_co()[iter1].m[9];#}
                            co[iter1].m[12] = datelist[1];
                            co[iter1].m[15] = datelist[0];
                            co[iter1].m[13] = this.needs_detail[index1].m[4] ;
                            co[iter1].m[16] = this.needs_detail[index1].m[3] ;
                            co[iter1].m[14] = this.needs_detail[index1].m[1] ;


                            var need = {...co[iter1].m};
                            var fathers = new Array();
                            fathers.push(need);

                            {#console.log("need",need);#}
                            console.log(fathers[0]);

                            let sons = new Array();

                            while (fathers.length){
                                for(var i=0;i<fathers.length;i++){
                                    for (var j=0;j<co.length; j++){
                                        if (co[j].m[0]==fathers[i][2]){
                                            // 总需求
                                            co[j].m[14]=Math.ceil(co[j].m[5]*fathers[i][14]/(1-co[j].m[6]));
                                            // 日期

                                            if (this.calcdate(fathers[i][15],fathers[i][12],(co[j].m[9]+co[j].m[10]+co[j].m[11])) == false){
                                                alert("工期超出范围！");
                                                return 0;
                                            }
                                            co[j].m[12]=this.calcdate(fathers[i][15],fathers[i][12],(co[j].m[9]+co[j].m[10]+co[j].m[11]))[1];  //xiadari
                                            co[j].m[15]=this.calcdate(fathers[i][15],fathers[i][12],(co[j].m[9]+co[j].m[10]+co[j].m[11]))[0];  // xiadayue
                                            co[j].m[13]=fathers[i][12];
                                            co[j].m[16]=fathers[i][15];
                                            //写数据
                                            this.result_detail.push({ m: [
                                                            co[j].m[4],
                                                            co[j].m[2],
                                                            co[j].m[3],
                                                            co[j].m[14],
                                                            co[j].m[12],
                                                            co[j].m[13],
                                                            index1,
                                                            co[j].m[15],
                                                            co[j].m[16]
                                                ] });
                                            sons.push(co[j].m);

                                        }
                                    }//找到所有子元素
                                }//fathers已经遍历完
                                fathers.length=0;
                                for (var j=0;j<sons.length;j++)
                                    fathers.push(sons[j]);
                                sons.length = 0;
                            }

                            }



                            //从最底层算 需求数量 应该放在fathers的外层循环里
                            for  (var i=0;i<this.result_detail.length-1;i++)
                                    for  (var j=i+1;j<this.result_detail.length;j++){
                                        if ((this.result_detail[i].m[4]+this.result_detail[i].m[7]*100)<(this.result_detail[j].m[4]+this.result_detail[j].m[7]*100)){
                                            temp = this.result_detail[i];
                                            this.result_detail[i]=this.result_detail[j];
                                            this.result_detail[j] = temp;
                                        }

                                    }
                            var store = this.storage_detail_copy;
                            console.log(store);
                            for (var i=this.result_detail.length-1;i>=0;i--){
                                for (var j=0;j<this.storage_detail_copy.length;j++){
                                    store[j].m[2] = parseInt(store[j].m[2]);
                                    store[j].m[3] = parseInt(store[j].m[3]);
                                    if (this.result_detail[i].m[1]==this.storage_detail_copy[j].m[0]){
                                        if (this.result_detail[i].m[3]>=(store[j].m[2]+store[j].m[3])){
                                            this.result_detail[i].m[3] = this.result_detail[i].m[3]-(store[j].m[2]+store[j].m[3]);
                                            {#console.log(this.result_detail[i].m[3],store[j].m[2],store[j].m[3]);#}
                                            store[j].m[2] = 0;
                                            store[j].m[3] = 0;
                                        }
                                        else if (store[j].m[2]<this.result_detail[i].m[1] && store[j].m[3]<this.result_detail[i].m[1]){
                                            store[j].m[2] = 0;
                                            store[j].m[3] = store[j].m[3]-(this.result_detail[i].m[3]-store[j].m[2]);
                                            this.result_detail[i].m[3] = 0;
                                        }
                                        else if (store[j].m[2]>=this.result_detail[i].m[1]){
                                            store[j].m[2] = store[j].m[2]-this.result_detail[i].m[3];
                                            this.result_detail[i].m[3]=0;
                                        }
                                        else if (store[j].m[3]>=this.result_detail[i].m[1]){
                                            store[j].m[3] = store[j].m[3]-this.result_detail[i].m[3];
                                            this.result_detail[i].m[3]=0;
                                        }
                                    }
                                }
                            }



                        }
                    },

                },

            });

    </script>
 
      <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
